<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ensurance -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.ensurance.presentation.EnsuranceModelWizardID"
            name="%_UI_EnsuranceModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.ensurance.presentation.EnsuranceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EnsuranceModelFile.gif">
         <description>%_UI_EnsuranceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ensurance -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.ensurance.presentation.EnsuranceEditorID"
            name="%_UI_EnsuranceEditor_label"
            icon="icons/full/obj16/EnsuranceModelFile.gif"
            extensions="ensurance"
            class="edu.kit.ipd.sdq.metamodels.ensurance.presentation.EnsuranceEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.ensurance.presentation.EnsuranceActionBarContributor">
      </editor>
   </extension>

</plugin>
