<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simuLink -->
      <package
            uri="http://hu.bme.mit.massif/simulink/1.0"
            class="simulink.SimuLinkPackage"
            genModel="model/simuLink.genmodel"/>
   </extension>

</plugin>
