<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated joana -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.joana"
            class="edu.kit.ipd.sdq.metamodels.joana.JoanaPackage"
            genModel="model/joanamodel.genmodel"/>
   </extension>

</plugin>
