# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class

# EMF
src-gen/

#Xtend
xtend-gen/

# Maven
target/
.polyglot.build.properties
.mvn/wrapper/maven-wrapper.jar
.polyglot.pom.tycho
.polyglot.META-INF
pom.tycho
.polyglot.feature.xml