<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated persons -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.persons.presentation.PersonsModelWizardID"
            name="%_UI_PersonsModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.persons.presentation.PersonsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PersonsModelFile.gif">
         <description>%_UI_PersonsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated persons -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.persons.presentation.PersonsEditorID"
            name="%_UI_PersonsEditor_label"
            icon="icons/full/obj16/PersonsModelFile.gif"
            extensions="persons"
            class="edu.kit.ipd.sdq.metamodels.persons.presentation.PersonsEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.persons.presentation.PersonsActionBarContributor">
      </editor>
   </extension>

</plugin>
