<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated recipients -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.recipients.presentation.RecipientsModelWizardID"
            name="%_UI_RecipientsModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.recipients.presentation.RecipientsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RecipientsModelFile.gif">
         <description>%_UI_RecipientsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated recipients -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.recipients.presentation.RecipientsEditorID"
            name="%_UI_RecipientsEditor_label"
            icon="icons/full/obj16/RecipientsModelFile.gif"
            extensions="recipients"
            class="edu.kit.ipd.sdq.metamodels.recipients.presentation.RecipientsEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.recipients.presentation.RecipientsActionBarContributor">
      </editor>
   </extension>

</plugin>
