<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated addresses -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="addresses.presentation.AddressesModelWizardID"
            name="%_UI_AddressesModelWizard_label"
            class="addresses.presentation.AddressesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AddressesModelFile.gif">
         <description>%_UI_AddressesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated addresses -->
      <editor
            id="addresses.presentation.AddressesEditorID"
            name="%_UI_AddressesEditor_label"
            icon="icons/full/obj16/AddressesModelFile.gif"
            extensions="addresses"
            class="addresses.presentation.AddressesEditor"
            contributorClass="addresses.presentation.AddressesActionBarContributor">
      </editor>
   </extension>

</plugin>
