<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated recipients -->
      <package
            uri="http://edu.kit.ipd.sdq.metamodels.recipients"
            class="edu.kit.ipd.sdq.metamodels.recipients.RecipientsPackage"
            genModel="model/recipients.genmodel"/>
   </extension>

</plugin>
