<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated persons -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.persons"
            class="edu.kit.ipd.sdq.metamodels.persons.PersonsPackage"
            genModel="model/persons.genmodel"/>
   </extension>

</plugin>
