<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.presentation.Confidentiality4cbseModelWizardID"
            name="%_UI_Confidentiality4cbseModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.presentation.Confidentiality4cbseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Confidentiality4cbseModelFile.gif">
         <description>%_UI_Confidentiality4cbseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.presentation.Confidentiality4cbseEditorID"
            name="%_UI_Confidentiality4cbseEditor_label"
            icon="icons/full/obj16/Confidentiality4cbseModelFile.gif"
            extensions="confidentiality4cbse"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.presentation.Confidentiality4cbseEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.presentation.Confidentiality4cbseActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.data.presentation.DataModelWizardID"
            name="%_UI_DataModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.data.presentation.DataModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataModelFile.gif">
         <description>%_UI_DataModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.data.presentation.DataEditorID"
            name="%_UI_DataEditor_label"
            icon="icons/full/obj16/DataModelFile.gif"
            extensions="data"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.data.presentation.DataEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.data.presentation.DataActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.information.presentation.InformationModelWizardID"
            name="%_UI_InformationModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.information.presentation.InformationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InformationModelFile.gif">
         <description>%_UI_InformationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.information.presentation.InformationEditorID"
            name="%_UI_InformationEditor_label"
            icon="icons/full/obj16/InformationModelFile.gif"
            extensions="information"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.information.presentation.InformationEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.information.presentation.InformationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.repository.presentation.RepositoryModelWizardID"
            name="%_UI_RepositoryModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.repository.presentation.RepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RepositoryModelFile.gif">
         <description>%_UI_RepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.repository.presentation.RepositoryEditorID"
            name="%_UI_RepositoryEditor_label"
            icon="icons/full/obj16/RepositoryModelFile.gif"
            extensions="repository"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.repository.presentation.RepositoryEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.repository.presentation.RepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.resources.presentation.ResourcesModelWizardID"
            name="%_UI_ResourcesModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.resources.presentation.ResourcesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResourcesModelFile.gif">
         <description>%_UI_ResourcesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.resources.presentation.ResourcesEditorID"
            name="%_UI_ResourcesEditor_label"
            icon="icons/full/obj16/ResourcesModelFile.gif"
            extensions="resources"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.resources.presentation.ResourcesEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.resources.presentation.ResourcesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.adversary.presentation.AdversaryModelWizardID"
            name="%_UI_AdversaryModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.adversary.presentation.AdversaryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdversaryModelFile.gif">
         <description>%_UI_AdversaryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.adversary.presentation.AdversaryEditorID"
            name="%_UI_AdversaryEditor_label"
            icon="icons/full/obj16/AdversaryModelFile.gif"
            extensions="adversary"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.adversary.presentation.AdversaryEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.adversary.presentation.AdversaryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated confidentiality4cbse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.system.presentation.SystemModelWizardID"
            name="%_UI_SystemModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.system.presentation.SystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SystemModelFile.gif">
         <description>%_UI_SystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated confidentiality4cbse -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.system.presentation.SystemEditorID"
            name="%_UI_SystemEditor_label"
            icon="icons/full/obj16/SystemModelFile.gif"
            extensions="system"
            class="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.system.presentation.SystemEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.confidentiality4cbse.system.presentation.SystemActionBarContributor">
      </editor>
   </extension>

</plugin>
