<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated autoSAR -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.autosar"
            class="edu.kit.ipd.sdq.metamodels.autosar.AutoSARPackage"
            genModel="model/autosar.genmodel"/>
   </extension>

</plugin>
