<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ensurance -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.ensurance"
            class="edu.kit.ipd.sdq.metamodels.ensurance.EnsurancePackage"
            genModel="model/ensurance.genmodel"/>
   </extension>

</plugin>
