<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated insurance -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.metamodels.insurance.presentation.InsuranceModelWizardID"
            name="%_UI_InsuranceModelWizard_label"
            class="edu.kit.ipd.sdq.metamodels.insurance.presentation.InsuranceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InsuranceModelFile.gif">
         <description>%_UI_InsuranceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated insurance -->
      <editor
            id="edu.kit.ipd.sdq.metamodels.insurance.presentation.InsuranceEditorID"
            name="%_UI_InsuranceEditor_label"
            icon="icons/full/obj16/InsuranceModelFile.gif"
            extensions="insurance"
            class="edu.kit.ipd.sdq.metamodels.insurance.presentation.InsuranceEditor"
            contributorClass="edu.kit.ipd.sdq.metamodels.insurance.presentation.InsuranceActionBarContributor">
      </editor>
   </extension>

</plugin>
