<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated addresses -->
      <package
            uri="http://edu.kit.ipd.sdq.mdsd.addresses"
            class="edu.kit.ipd.sdq.mdsd.addresses.AddressesPackage"
            genModel="model/addresses.genmodel"/>
   </extension>

</plugin>
